 .verDetalleBoton {
    text-decoration: none;
    background-color:rgb(166, 191, 204);
    color: white;
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    transition: .2s;
}

.verDetalleBoton:hover {
    background-color: rgb(4, 12, 99);
    color: white;
}